/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* Font face declaration */
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

/* Global styles and variables */
:root {
  --fill: #3498db;
  --empty: #828282;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: rgb(228, 224, 224);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Common styles */
.container,
.page-title,
.progress-wrapper {
  text-align: center;
  margin-top: 2vh;
}

.page-title {
  font-family: 'Rocher';
  color: black;
  font-size: 2vh;
  margin-top: 1vh;
  font-palette: --Purples;
}

.progress-wrapper {
  height: 10vh;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 3vh;
  width: 35vh;
}

.progress-container::before,
.progress {
  content: '';
  background-color: var(--empty);
  position: absolute;
  top: 50%;
  left: 0%;
  height: 0.4vh;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  background-color: var(--fill);
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 3vh;
  width: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3vh solid var(--empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--fill);
}

.btn {
  background-color: var(--fill);
  color: #fff;
  border: 0;
  border-radius: 0.5vh;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4vh;
  margin: 0.5vh;
  padding: 0.8vh 3vh;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--empty);
  cursor: not-allowed;
}
